<h2><%= @song.title %></h2>
<h3><%= @song.author %></h3>
<p><%=  @song.description %></p>


<%= link_to "Back", root_path %>
<% if user_signed_in? %>
<% if @song.user_id == current_user.id %>
<%= link_to "Edit", edit_song_path(@song) %>
<%= link_to "Delete", song_path(@song), method: :delete, data: { confirm: "Are you sure?"} %>

<% end %>
<% end %>
